.image .hover-img {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      opacity: 0;
      visibility: hidden; }
      .product-thumb:hover .hover-img {
        opacity: 0.5;
        visibility: visible; }
        .product-thumb:hover .imgprimary{
            opacity: 0;
            visibility: visible; }
    

            aside .sf-menu > li > .sf-with-ul2:before, .col-lg-3 .sf-menu > li > .sf-with-ul:before {
              content: '\e315';
              position: absolute;
              right: 22px;
              top: 50%;
              line-height: 0;
              font-size: 19px;
              font-weight: 400;
              font-family: "Material Icons";
              color: #98d648;
            }
            .sf-menu ul > li > .sf-with-ul2 {
              position: relative;
            }