<div id="html-module{{ module }}" class="html-module {{ heading_title ~ ' ' ~ class }}">
	{% if (heading_title) %} 
		<div class="box-heading"><h3>{{heading_title}}</h3></div>
	{% endif %}	
	<div class="content">{{html}}</div>
</div>
