<span class="header-wishlist pull-right">
	<a href="{{ wishlist }}">
		<i class="material-icons-favorite_border"></i>
		<strong>{{ text_wishlist2 }}</strong><br>
		<span id="wishlist-total3">{{ text_wishlist3 }}</span>
	</a>
</span>