<div id="search" class="search pull-right">
	<input type="text" name="search" value="{{search}}" placeholder="{{text_search}}"/>
	<button type="button" class="button-search">{{ text_search }}</button>
</div>